{% include './partials/header.html' %}

<div class="normal-container" style="font-family: Helvetica, sans-serif">
    {% include './partials/message.html' %}
    <div>
        <div class="page-card-title" style="margin-bottom: 16px; font-weight: bold">{{ title }}</div>
        <article class="message">
            <div class="message-body">
                {{ description }}
            </div>
        </article>
        <article id="errorMessage" class="message is-danger" style="display: None">
            <div class="message-body">

            </div>
        </article>
        <div class="content-tab">
            <div class="columns">
                <div class="column" style="margin-left: 1em">
                    <div class="field">
                        <label class="label">目标域风格（Target Domain Style）</label>
                        <div class="control">
                            <div class="select">
                                <select id="y" name="y" style="font-family: Helvetica, sans-serif">
                                    <option value="" disabled selected>请选择目标域风格</option>
                                    <option value="cartoon">cartoon</option>
                                    <option value="cubism">cubism</option>
                                    <option value="pointillism">pointillism</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" style="margin-right: 1em">
                    <div class="field">
                        <label class="label">随机种子（Random Seed）</label>
                        <div class="control">
                            <input class="input" id="seed" type="text" placeholder="请输入随机种子">
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-desktop">
                <div class="column" style="margin-left: 1em">
                    <div class="field">
                        <label class="label" style="margin-top: 1px">源域图像（Source Domain Image）</label>
                        <div class="control">
                            <figure class="image is-512x512">
                                <img src="{{ url_for('static', filename='waiting1.png') }}" alt="src"
                                     id="showSrcImage">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column" style="margin-right: 1em">
                    <div class="field">
                        <label class="label" style="margin-top: 1px">目标域图像（Target Domain Image）</label>
                        <div class="control">
                            <figure class="image is-512x512">
                                <img src="{{ url_for('static', filename='waiting1.png') }}" alt="fake"
                                     id="showResImage">
                            </figure>
                            <input type="submit" class="button is-light" value="开始生成（Generate）"
                                   style="font-weight: bold; margin-top: 6px" onclick="StyleGANv2GenerateAFHQ()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include './partials/footer.html' %}